[flake8]
# Исключаем папки по имени (без звёздочек)
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    env,
    .env,
    migrations,
    *.pyc

# Максимальная длина строки
max-line-length = 119

# Игнорируем некоторые правила
extend-ignore = 
    E203,
    W503

# Статистика в выводе
statistics = True
count = True